:root {
  --primary-color: #a3d7c8;
  --secondary-color: #0df7b0;
  --accent: #752d93;
  --background: #131315; 
  --text: #fffffd;
  --heading-font: "Karla", sans-serif;
  --paragraph-font: "Inconsolata", monospace;
  /* --text: #22211f;    */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}


body {
  /* border: 4px solid var(--accent);  */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

/*<uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800
*/ 

.karla-font-family {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inconsolata-font-family {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

div.scroll {
  /* margin: 4px 4px;  */
  padding: 4px; 
  background-color: transparent;
  width: 99vw;
  min-height: 90vh; 
  overflow-x: hidden; 
  overflow-y: auto;
  border: 1px solid yellow;
}

hr.solid {
  width: 12vw; 
  border-top: 3px solid var(--secondary-color); 
  border-bottom: 3px solid var(--secondary-color);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
