.experienceContainer {
    border: 1px solid white; 
}

.experienceContainer h1 {
    font-family: var(--paragraph-font); 
    color: var(--secondary-color); 
}

.experienceContainer p {
    font-family: var(--paragraph-font);
    color: var(--text); 
}
